body, div, ul, p, li, h1, h2, h3, h4, h5, h6, a, img,input,button,textarea{ margin: 0; padding: 0; }
body { font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif; color: #333; font-size: 14px;overflow-x:hidden;background: #f4f4f4;  }
a { text-decoration: none; color: #333; -webkit-tap-highlight-color: transparent;}
ul, li { list-style: none; }
img { /* display: block; */ border: none; max-width: 100%; vertical-align: top;outline: none;}
input,button,textarea{border:none 0;outline: none;-webkit-tap-highlight-color: transparent;}
.fl { float: left; }
.fr { float: right; }
.clearfix:after { display: block; content: ""; clear: both; height: 0; }
.clearfix { zoom: 1; }
.center { text-align: center; }
.indent{text-indent:2em;}
.pr{position: relative;}
.pa{position: absolute;}



#head{padding:.38rem .3rem 0;background: #ff7ba3;height:.78rem;color: #fff;font-size: 16px;line-height: .84rem;text-align: center;position: fixed;top:0;left:0;right:0;z-index: 99;}

.main{padding-top: 1.16rem;}
						/* 设置地址信心 */
#address{margin-bottom: .17rem;}
#address .people,#address .tel,#address .region,#address .street{height:.88rem;line-height:.88rem;background: #fff;padding:0 .3rem;border-bottom:2px solid #f2f2f2;}
#address .people span,#address .tel span{display: inline-block;*display: inline;zoom:1;width:22%;}
#address .people input,#address .tel input{width:78%;height:.4rem;line-height:.4rem;margin-top: .24rem;}


#address .region img,#address .street img{vertical-align: middle;}
#address .detailed-address{height:1.47rem;background: #fff;padding:.2rem .3rem;box-sizing: border-box;}
.detailed-address textarea{width:100%;height:100%;resize: none;}


						/* 设为默认 */
.setDefault{height:.55rem;padding:.15rem .3rem;line-height:.55rem;background: #fff;}

.checkbox { position: relative; display: inline-block; }
.checkbox label { width: .95rem; height: .55rem; background: #ccc; position: relative; display: inline-block; border-radius: .46rem; -webkit-transition: 0.4s; transition: 0.4s; }
.checkbox label:after { content: ''; position: absolute; width: .55rem; height: .55rem; border-radius: 100%; left: 0; top: 0; z-index: 2; background: #fff; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); -webkit-transition: 0.4s; transition: 0.4s; }
.checkbox input { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 5; opacity: 0; cursor: pointer; }
.checkbox input:checked + label:after { left: .42rem; }
.checkbox input:checked + label { background: #ff7ba3; }



						/* 添加新地址 */
#add{width:100%;height:.87rem;box-sizing:border-box;border-top:1px solid #eabecc;background: #ff7ba3;color: #fff;text-align: center;line-height: .86rem;position: fixed;bottom:0;z-index: 99;}