body, div, ul, p, li, h1, h2, h3, h4, h5, h6, a, img,input{ margin: 0; padding: 0; }
body { font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif; color: #333; font-size: 14px;overflow-x:hidden; background: #fff; }
a { text-decoration: none; color: #333; -webkit-tap-highlight-color: transparent;}
ul, li { list-style: none; }
img { /* display: block; */ border: none; max-width: 100%; vertical-align: top;outline: none;}
input,button{border:none 0;outline: none;}
.fl { float: left; }
.fr { float: right; }
.clearfix:after { display: block; content: ""; clear: both; height: 0; }
.clearfix { zoom: 1; }
.center { text-align: center; }
.indent{text-indent:2em;}
.pr{position: relative;}
.pa{position: absolute;}

.wrapper{}
					/* 头部 */
#head{padding:.4rem 15px 0;height:.8rem;background: #ff7ba3;text-align: center;position: fixed;top:0;left:0;right:0;z-index: 99;}
#head .back,#head .tab,#head .search{height:.8rem;line-height: .8rem;}
#head  img{vertical-align: middle;}
#head .tab{display: inline-block;width:2.2rem;}
#head .tab li{width:.9rem;height:.8rem;color: #fff;font-size: 16px;}
#head .tab li.active{box-sizing: border-box;border-bottom: 2px solid #333;}
					/* 内容 */
.main{padding-top: 1.2rem;}
					/* 收藏宝贝 */
.main .goods .goodsTitle{padding:0 15px;height:.9rem;display: flex;justify-content: space-between;align-items: center;}
#collection span{color:#ff7ba3;}
					/* 宝贝列表 */
.main .goods .goodsList{padding:.3rem 10px 0;background: #f4f4f4;}
.goodsItem{margin-bottom: 10px;background: #fff;}
.goodsItem .pic{width:2.28rem;height:2.28rem;margin-right: .24rem} 
.goodsItem .info{width:4.5rem;height:2.28rem;} 
.info .name{font-size: 16px;line-height: .6rem;}
.info .price{color:#fc8656; }
.info .more{width:4.5rem;bottom:.2rem;}
.info .find button{box-sizing: border-box;width:1.4rem;height:.44rem;line-height:.44rem;margin-right:5px;border:1px solid #fc8656;border-radius: 18px;background: #f4f4f4;color: #fc8656;text-align: center;}



					/* 收藏内容 */
.main .content{display: none;padding:.3rem 10px 0;background: #f4f4f4;}



















