body, div, ul, p, li, h1, h2, h3, h4, h5, h6, a, img,input{ margin: 0; padding: 0; }
body { font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif; color: #333; font-size: 14px;overflow-x:hidden;background: #f4f4f4;  }
a { text-decoration: none; color: #333; -webkit-tap-highlight-color: transparent;}
ul, li { list-style: none; }
img { /* display: block; */ border: none; max-width: 100%; vertical-align: top;outline: none;}
input,button{border:none 0;outline: none;}
.fl { float: left; }
.fr { float: right; }
.clearfix:after { display: block; content: ""; clear: both; height: 0; }
.clearfix { zoom: 1; }
.center { text-align: center; }
.indent{text-indent:2em;}
.pr{position: relative;}
.pa{position: absolute;}

.wrapper{}

#head{padding:.38rem .3rem 0;background: #ff7ba3;height:.76rem;color: #fff;font-size: 16px;line-height: .84rem;text-align: center;position: fixed;top:0;left:0;right:0;z-index: 99;}

.main{padding-top: 1.14rem;}
					/* 地址信息 */
.main .addlist{background: #fff;margin-bottom: .2rem;}
.addlist .addInfo{padding:5px .3rem;border-bottom:2px solid #f3f3f3;}
.addlist .addInfo .info{margin-bottom: 5px;line-height: 24px;}
.addInfo .info .name{font-size: 16px;}
.addlist .addInfo .address{line-height: 20px;}
					/* 地址编辑 */
.addlist .setadd{padding:5px .3rem;line-height: .5rem;}
.addlist .setadd input{margin-right: 10px;display:none}

.radioInput{background-color:#fff;border:1px solid rgba(0,0,0,0.15);border-radius:100%;display:inline-block;width:18px;height:18px;margin-right:10px;margin-top:-1px;vertical-align:middle;line-height:1}
.radio:checked + .radioInput{border: none;}
.radio:checked + .radioInput:after{content:"";display:inline-block;width:20px;height:20px;margin-top:-2px;background: url('../images/checked.png') no-repeat;background-size:cover; }




.addlist .setadd img{width:.4rem;height:.4rem;margin-right: 5px;vertical-align: middle;}
.addlist .setadd .edit{margin-right: 10px;}

						/* 添加新地址 */
#add{width:100%;height:.87rem;box-sizing:border-box;border-top:1px solid #eabecc;background: #ff7ba3;color: #fff;text-align: center;line-height: .86rem;position: fixed;bottom:0;z-index: 99;}


